<!--
SPDX-FileCopyrightText: 2023 Christopher Eory <eorchr@gmail.com>

SPDX-License-Identifier: AGPL-3.0-or-later
-->

{% extends "base.html" %}

{% block title %}donation-summary - F-Droid Monitor{% end %}

{% block content %}

<h2>Donations</h2>

<p>Get amount by date-range:</p>
<form method="GET" action="/donations">
  <label for="date_from">From:</label>
  <input min="{{ date_data[4] }}" max="{{ date_data[3] }}" value="{{ date_data[1] }}" type="date" id="date_from" name="date_from">

  <label for="date_until">Until:</label>
  <input min="{{ date_data[4] }}" max="{{ date_data[3] }}" value="{{ date_data[2] }}" type="date" id="date_until" name="date_until">

  <input type="submit" value="Filter">
</form>
<br>
<div style="display: inline-block; vertical-align: top;">
  <p>Total amount (Liberapay): <b>{{ total_libera }} $</b></p>
  <p>
    List of <a href="https://liberapay.com/F-Droid-Data">
      Liberapay</a> donations to F-Droid per month.
    </p>
  <ul>
      {% for item in items %}
          <li>{{ item['month'] }}: <b>{{ item['amount'] }} €</b></li>
      {% end %}
  </ul>
</div>

<div style="display: inline-block; vertical-align: top;">
  <p>Total amount (OpenCollective): <b>{{ total_open }} $</b></p>
  <p>
    List of <a href="https://opencollective.com/f-droid">
      OpenCollective</a> donations to F-Droid per month.
    </p>

  <ul>
      {% for item in items2 %}
          <li>{{ item['month2'] }}: <b>{{ item['amount2'] }} $</b></li>
      {% end %}
  </ul>
</div>
{% end %}






